In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving country_burden_seaborn_project_cleaned_dataset_20230419_1.xlsx to country_burden_seaborn_project_cleaned_dataset_20230419_1 (2).xlsx
Saving country_diet_seaborn_project_cleaned_dataset_20230419_1.xlsx to country_diet_seaborn_project_cleaned_dataset_20230419_1 (2).xlsx

In [ ]:
d1 = pd.read_excel("country_burden_seaborn_project_cleaned_dataset_20230419_1.xlsx")
d1.head()

,iso3,country,region,subregion,disaggregation,disagg.value,section,overweight_2000,overweight_2001,overweight_2002,...,wasting_2012,wasting_2013,wasting_2014,wasting_2015,wasting_2016,wasting_2017,wasting_2018,wasting_2019,wasting_2020,wasting_2021
0,AFG,Afghanistan,Asia,Southern Asia,age,0-23 months,Burden of malnutrition,NaN,NaN,NaN,...,NaN,12.62,NaN,NaN,NaN,NaN,8.22,NaN,NaN,NaN
1,AFG,Afghanistan,Asia,Southern Asia,age,24-35 months,Burden of malnutrition,NaN,NaN,NaN,...,NaN,8.70,NaN,NaN,NaN,NaN,3.70,NaN,NaN,NaN
2,AFG,Afghanistan,Asia,Southern Asia,age,36-47 months,Burden of malnutrition,NaN,NaN,NaN,...,NaN,6.63,NaN,NaN,NaN,NaN,2.77,NaN,NaN,NaN
3,AFG,Afghanistan,Asia,Southern Asia,age,48-59 months,Burden of malnutrition,NaN,NaN,NaN,...,NaN,6.39,NaN,NaN,NaN,NaN,2.49,NaN,NaN,NaN
4,AFG,Afghanistan,Asia,Southern Asia,all,Free from,Burden of malnutrition,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
d2 = pd.read_excel("country_diet_seaborn_project_cleaned_dataset_20230419_1.xlsx")
d2.head()

,iso3,country,region,subregion,disaggregation,disagg.value,section,continued_breastfeeding_1yr_2000,continued_breastfeeding_1yr_2001,continued_breastfeeding_1yr_2002,...,solid_foods_2011,solid_foods_2012,solid_foods_2013,solid_foods_2014,solid_foods_2015,solid_foods_2016,solid_foods_2017,solid_foods_2018,solid_foods_2019,solid_foods_2020
0,AFG,Afghanistan,Asia,Southern Asia,age,0-1 month,Diet,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,Asia,Southern Asia,age,12-15 months,Diet,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Asia,Southern Asia,age,12-23 months,Diet,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,Asia,Southern Asia,age,16-19 months,Diet,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,Asia,Southern Asia,age,2-3 months,Diet,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

d1.shape

(5906, 73)

In [ ]:
d2.shape

(3242, 132)

In [ ]:
d1.isnull()

,iso3,country,region,subregion,disaggregation,disagg.value,section,overweight_2000,overweight_2001,overweight_2002,...,wasting_2012,wasting_2013,wasting_2014,wasting_2015,wasting_2016,wasting_2017,wasting_2018,wasting_2019,wasting_2020,wasting_2021
0,False,False,False,False,False,False,False,True,True,True,...,True,False,True,True,True,True,False,True,True,True
1,False,False,False,False,False,False,False,True,True,True,...,True,False,True,True,True,True,False,True,True,True
2,False,False,False,False,False,False,False,True,True,True,...,True,False,True,True,True,True,False,True,True,True
3,False,False,False,False,False,False,False,True,True,True,...,True,False,True,True,True,True,False,True,True,True
4,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5901,False,False,False,False,False,False,False,True,True,True,...,True,True,False,False,True,True,True,False,True,True
5902,False,False,False,False,False,False,False,True,True,True,...,True,True,False,False,True,True,True,False,True,True
5903,False,False,False,False,False,False,False,True,True,True,...,True,True,False,False,True,True,True,False,True,True
5904,False,False,False,False,False,False,False,True,True,True,...,True,True,False,False,True,True,True,False,True,True
5905,False,False,False,False,False,False,False,True,True,True,...,True,True,False,False,True,True,True,False,True,True

In [ ]:
d1 = d1.fillna(0)
d1

,iso3,country,region,subregion,disaggregation,disagg.value,section,overweight_2000,overweight_2001,overweight_2002,...,wasting_2012,wasting_2013,wasting_2014,wasting_2015,wasting_2016,wasting_2017,wasting_2018,wasting_2019,wasting_2020,wasting_2021
0,AFG,Afghanistan,Asia,Southern Asia,age,0-23 months,Burden of malnutrition,0.0,0.0,0.0,...,0.0,12.62,0.00,0.00,0.0,0.0,8.22,0.00,0.0,0.0
1,AFG,Afghanistan,Asia,Southern Asia,age,24-35 months,Burden of malnutrition,0.0,0.0,0.0,...,0.0,8.70,0.00,0.00,0.0,0.0,3.70,0.00,0.0,0.0
2,AFG,Afghanistan,Asia,Southern Asia,age,36-47 months,Burden of malnutrition,0.0,0.0,0.0,...,0.0,6.63,0.00,0.00,0.0,0.0,2.77,0.00,0.0,0.0
3,AFG,Afghanistan,Asia,Southern Asia,age,48-59 months,Burden of malnutrition,0.0,0.0,0.0,...,0.0,6.39,0.00,0.00,0.0,0.0,2.49,0.00,0.0,0.0
4,AFG,Afghanistan,Asia,Southern Asia,all,Free from,Burden of malnutrition,0.0,0.0,0.0,...,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5901,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Highest,Burden of malnutrition,0.0,0.0,0.0,...,0.0,0.00,1.99,1.69,0.0,0.0,0.00,2.00,0.0,0.0
5902,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Lowest,Burden of malnutrition,0.0,0.0,0.0,...,0.0,0.00,4.50,4.12,0.0,0.0,0.00,3.09,0.0,0.0
5903,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Middle,Burden of malnutrition,0.0,0.0,0.0,...,0.0,0.00,2.57,3.04,0.0,0.0,0.00,2.37,0.0,0.0
5904,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Second highest,Burden of malnutrition,0.0,0.0,0.0,...,0.0,0.00,3.50,2.98,0.0,0.0,0.00,3.27,0.0,0.0
5905,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Second lowest,Burden of malnutrition,0.0,0.0,0.0,...,0.0,0.00,3.21,4.04,0.0,0.0,0.00,3.40,0.0,0.0

In [ ]:
X = d1.iloc[:, 7:]
X

,overweight_2000,overweight_2001,overweight_2002,overweight_2003,overweight_2004,overweight_2005,overweight_2006,overweight_2007,overweight_2008,overweight_2009,...,wasting_2012,wasting_2013,wasting_2014,wasting_2015,wasting_2016,wasting_2017,wasting_2018,wasting_2019,wasting_2020,wasting_2021
0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,...,0.0,12.62,0.00,0.00,0.0,0.0,8.22,0.00,0.0,0.0
1,0.0,0.0,0.0,0.0,3.0,0.00,0.0,0.0,0.0,0.00,...,0.0,8.70,0.00,0.00,0.0,0.0,3.70,0.00,0.0,0.0
2,0.0,0.0,0.0,0.0,5.6,0.00,0.0,0.0,0.0,0.00,...,0.0,6.63,0.00,0.00,0.0,0.0,2.77,0.00,0.0,0.0
3,0.0,0.0,0.0,0.0,6.4,0.00,0.0,0.0,0.0,0.00,...,0.0,6.39,0.00,0.00,0.0,0.0,2.49,0.00,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,...,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5901,0.0,0.0,0.0,0.0,0.0,13.31,0.0,0.0,0.0,6.28,...,0.0,0.00,1.99,1.69,0.0,0.0,0.00,2.00,0.0,0.0
5902,0.0,0.0,0.0,0.0,0.0,6.89,0.0,0.0,0.0,3.05,...,0.0,0.00,4.50,4.12,0.0,0.0,0.00,3.09,0.0,0.0
5903,0.0,0.0,0.0,0.0,0.0,9.34,0.0,0.0,0.0,2.86,...,0.0,0.00,2.57,3.04,0.0,0.0,0.00,2.37,0.0,0.0
5904,0.0,0.0,0.0,0.0,0.0,9.37,0.0,0.0,0.0,3.02,...,0.0,0.00,3.50,2.98,0.0,0.0,0.00,3.27,0.0,0.0
5905,0.0,0.0,0.0,0.0,0.0,7.29,0.0,0.0,0.0,2.82,...,0.0,0.00,3.21,4.04,0.0,0.0,0.00,3.40,0.0,0.0

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5906 entries, 0 to 5905
Data columns (total 66 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   overweight_2000  5906 non-null   float64
 1   overweight_2001  5906 non-null   float64
 2   overweight_2002  5906 non-null   float64
 3   overweight_2003  5906 non-null   float64
 4   overweight_2004  5906 non-null   float64
 5   overweight_2005  5906 non-null   float64
 6   overweight_2006  5906 non-null   float64
 7   overweight_2007  5906 non-null   float64
 8   overweight_2008  5906 non-null   float64
 9   overweight_2009  5906 non-null   float64
 10  overweight_2010  5906 non-null   float64
 11  overweight_2011  5906 non-null   float64
 12  overweight_2012  5906 non-null   float64
 13  overweight_2013  5906 non-null   float64
 14  overweight_2014  5906 non-null   float64
 15  overweight_2015  5906 non-null   float64
 16  overweight_2016  5906 non-null   float64
 17  overweight_2017  5906 non-null   float64
 18  overweight_2018  5906 non-null   float64
 19  overweight_2019  5906 non-null   float64
 20  overweight_2020  5906 non-null   float64
 21  overweight_2021  5906 non-null   float64
 22  stunting_2000    5906 non-null   float64
 23  stunting_2001    5906 non-null   float64
 24  stunting_2002    5906 non-null   float64
 25  stunting_2003    5906 non-null   float64
 26  stunting_2004    5906 non-null   float64
 27  stunting_2005    5906 non-null   float64
 28  stunting_2006    5906 non-null   float64
 29  stunting_2007    5906 non-null   float64
 30  stunting_2008    5906 non-null   float64
 31  stunting_2009    5906 non-null   float64
 32  stunting_2010    5906 non-null   float64
 33  stunting_2011    5906 non-null   float64
 34  stunting_2012    5906 non-null   float64
 35  stunting_2013    5906 non-null   float64
 36  stunting_2014    5906 non-null   float64
 37  stunting_2015    5906 non-null   float64
 38  stunting_2016    5906 non-null   float64
 39  stunting_2017    5906 non-null   float64
 40  stunting_2018    5906 non-null   float64
 41  stunting_2019    5906 non-null   float64
 42  stunting_2020    5906 non-null   float64
 43  stunting_2021    5906 non-null   float64
 44  wasting_2000     5906 non-null   float64
 45  wasting_2001     5906 non-null   float64
 46  wasting_2002     5906 non-null   float64
 47  wasting_2003     5906 non-null   float64
 48  wasting_2004     5906 non-null   float64
 49  wasting_2005     5906 non-null   float64
 50  wasting_2006     5906 non-null   float64
 51  wasting_2007     5906 non-null   float64
 52  wasting_2008     5906 non-null   float64
 53  wasting_2009     5906 non-null   float64
 54  wasting_2010     5906 non-null   float64
 55  wasting_2011     5906 non-null   float64
 56  wasting_2012     5906 non-null   float64
 57  wasting_2013     5906 non-null   float64
 58  wasting_2014     5906 non-null   float64
 59  wasting_2015     5906 non-null   float64
 60  wasting_2016     5906 non-null   float64
 61  wasting_2017     5906 non-null   float64
 62  wasting_2018     5906 non-null   float64
 63  wasting_2019     5906 non-null   float64
 64  wasting_2020     5906 non-null   float64
 65  wasting_2021     5906 non-null   float64
dtypes: float64(66)
memory usage: 3.0 MB

In [ ]:
d2.isnull()

,iso3,country,region,subregion,disaggregation,disagg.value,section,continued_breastfeeding_1yr_2000,continued_breastfeeding_1yr_2001,continued_breastfeeding_1yr_2002,...,solid_foods_2011,solid_foods_2012,solid_foods_2013,solid_foods_2014,solid_foods_2015,solid_foods_2016,solid_foods_2017,solid_foods_2018,solid_foods_2019,solid_foods_2020
0,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237,False,False,False,False,False,False,False,True,True,True,...,True,True,True,False,False,True,True,True,False,True
3238,False,False,False,False,False,False,False,True,True,True,...,True,True,True,False,False,True,True,True,False,True
3239,False,False,False,False,False,False,False,True,True,True,...,True,True,True,False,False,True,True,True,False,True
3240,False,False,False,False,False,False,False,True,True,True,...,True,True,True,False,False,True,True,True,False,True
3241,False,False,False,False,False,False,False,True,True,True,...,True,True,True,False,False,True,True,True,False,True

In [ ]:
d2 = d2.fillna(0)
d2

,iso3,country,region,subregion,disaggregation,disagg.value,section,continued_breastfeeding_1yr_2000,continued_breastfeeding_1yr_2001,continued_breastfeeding_1yr_2002,...,solid_foods_2011,solid_foods_2012,solid_foods_2013,solid_foods_2014,solid_foods_2015,solid_foods_2016,solid_foods_2017,solid_foods_2018,solid_foods_2019,solid_foods_2020
0,AFG,Afghanistan,Asia,Southern Asia,age,0-1 month,Diet,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
1,AFG,Afghanistan,Asia,Southern Asia,age,12-15 months,Diet,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
2,AFG,Afghanistan,Asia,Southern Asia,age,12-23 months,Diet,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
3,AFG,Afghanistan,Asia,Southern Asia,age,16-19 months,Diet,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
4,AFG,Afghanistan,Asia,Southern Asia,age,2-3 months,Diet,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Highest,Diet,0.0,0.0,0.0,...,0.0,0.0,0.0,93.03,100.00,0.0,0.0,0.0,94.09,0.0
3238,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Lowest,Diet,0.0,0.0,0.0,...,0.0,0.0,0.0,79.54,89.25,0.0,0.0,0.0,85.97,0.0
3239,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Middle,Diet,0.0,0.0,0.0,...,0.0,0.0,0.0,87.55,95.13,0.0,0.0,0.0,87.50,0.0
3240,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Second highest,Diet,0.0,0.0,0.0,...,0.0,0.0,0.0,84.53,91.23,0.0,0.0,0.0,95.25,0.0
3241,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Second lowest,Diet,0.0,0.0,0.0,...,0.0,0.0,0.0,91.93,83.93,0.0,0.0,0.0,85.73,0.0

In [ ]:
#y = d2[['overweight_2021','stunting_2021','wasting_2021']]
y= d2.iloc[:, 8:]
y

,continued_breastfeeding_1yr_2001,continued_breastfeeding_1yr_2002,continued_breastfeeding_1yr_2003,continued_breastfeeding_1yr_2004,continued_breastfeeding_1yr_2005,continued_breastfeeding_1yr_2006,continued_breastfeeding_1yr_2007,continued_breastfeeding_1yr_2008,continued_breastfeeding_1yr_2009,continued_breastfeeding_1yr_2010,...,solid_foods_2011,solid_foods_2012,solid_foods_2013,solid_foods_2014,solid_foods_2015,solid_foods_2016,solid_foods_2017,solid_foods_2018,solid_foods_2019,solid_foods_2020
0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
1,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
2,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
3,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
4,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237,0.0,0.0,0.0,0.0,43.85,0.0,0.0,0.0,35.49,51.61,...,0.0,0.0,0.0,93.03,100.00,0.0,0.0,0.0,94.09,0.0
3238,0.0,0.0,0.0,0.0,72.29,0.0,0.0,0.0,65.60,72.00,...,0.0,0.0,0.0,79.54,89.25,0.0,0.0,0.0,85.97,0.0
3239,0.0,0.0,0.0,0.0,80.14,0.0,0.0,0.0,55.22,67.66,...,0.0,0.0,0.0,87.55,95.13,0.0,0.0,0.0,87.50,0.0
3240,0.0,0.0,0.0,0.0,63.08,0.0,0.0,0.0,45.44,53.42,...,0.0,0.0,0.0,84.53,91.23,0.0,0.0,0.0,95.25,0.0
3241,0.0,0.0,0.0,0.0,67.12,0.0,0.0,0.0,55.92,61.14,...,0.0,0.0,0.0,91.93,83.93,0.0,0.0,0.0,85.73,0.0

In [ ]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3242 entries, 0 to 3241
Columns: 124 entries, continued_breastfeeding_1yr_2001 to solid_foods_2020
dtypes: float64(124)
memory usage: 3.1 MB

In [ ]:
# Concatenate the datasets vertically
df = pd.concat([X, y])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9148 entries, 0 to 3241
Columns: 190 entries, overweight_2000 to solid_foods_2020
dtypes: float64(190)
memory usage: 13.3 MB

In [ ]:
X= df.iloc[:, 66:]
X

,continued_breastfeeding_1yr_2001,continued_breastfeeding_1yr_2002,continued_breastfeeding_1yr_2003,continued_breastfeeding_1yr_2004,continued_breastfeeding_1yr_2005,continued_breastfeeding_1yr_2006,continued_breastfeeding_1yr_2007,continued_breastfeeding_1yr_2008,continued_breastfeeding_1yr_2009,continued_breastfeeding_1yr_2010,...,solid_foods_2011,solid_foods_2012,solid_foods_2013,solid_foods_2014,solid_foods_2015,solid_foods_2016,solid_foods_2017,solid_foods_2018,solid_foods_2019,solid_foods_2020
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237,0.0,0.0,0.0,0.0,43.85,0.0,0.0,0.0,35.49,51.61,...,0.0,0.0,0.0,93.03,100.00,0.0,0.0,0.0,94.09,0.0
3238,0.0,0.0,0.0,0.0,72.29,0.0,0.0,0.0,65.60,72.00,...,0.0,0.0,0.0,79.54,89.25,0.0,0.0,0.0,85.97,0.0
3239,0.0,0.0,0.0,0.0,80.14,0.0,0.0,0.0,55.22,67.66,...,0.0,0.0,0.0,87.55,95.13,0.0,0.0,0.0,87.50,0.0
3240,0.0,0.0,0.0,0.0,63.08,0.0,0.0,0.0,45.44,53.42,...,0.0,0.0,0.0,84.53,91.23,0.0,0.0,0.0,95.25,0.0
3241,0.0,0.0,0.0,0.0,67.12,0.0,0.0,0.0,55.92,61.14,...,0.0,0.0,0.0,91.93,83.93,0.0,0.0,0.0,85.73,0.0

In [ ]:
X = X.fillna(0)
X

,continued_breastfeeding_1yr_2001,continued_breastfeeding_1yr_2002,continued_breastfeeding_1yr_2003,continued_breastfeeding_1yr_2004,continued_breastfeeding_1yr_2005,continued_breastfeeding_1yr_2006,continued_breastfeeding_1yr_2007,continued_breastfeeding_1yr_2008,continued_breastfeeding_1yr_2009,continued_breastfeeding_1yr_2010,...,solid_foods_2011,solid_foods_2012,solid_foods_2013,solid_foods_2014,solid_foods_2015,solid_foods_2016,solid_foods_2017,solid_foods_2018,solid_foods_2019,solid_foods_2020
0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
1,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
2,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
3,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
4,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237,0.0,0.0,0.0,0.0,43.85,0.0,0.0,0.0,35.49,51.61,...,0.0,0.0,0.0,93.03,100.00,0.0,0.0,0.0,94.09,0.0
3238,0.0,0.0,0.0,0.0,72.29,0.0,0.0,0.0,65.60,72.00,...,0.0,0.0,0.0,79.54,89.25,0.0,0.0,0.0,85.97,0.0
3239,0.0,0.0,0.0,0.0,80.14,0.0,0.0,0.0,55.22,67.66,...,0.0,0.0,0.0,87.55,95.13,0.0,0.0,0.0,87.50,0.0
3240,0.0,0.0,0.0,0.0,63.08,0.0,0.0,0.0,45.44,53.42,...,0.0,0.0,0.0,84.53,91.23,0.0,0.0,0.0,95.25,0.0
3241,0.0,0.0,0.0,0.0,67.12,0.0,0.0,0.0,55.92,61.14,...,0.0,0.0,0.0,91.93,83.93,0.0,0.0,0.0,85.73,0.0

In [ ]:
y= df.iloc[:, 0:66]
y

,overweight_2000,overweight_2001,overweight_2002,overweight_2003,overweight_2004,overweight_2005,overweight_2006,overweight_2007,overweight_2008,overweight_2009,...,wasting_2012,wasting_2013,wasting_2014,wasting_2015,wasting_2016,wasting_2017,wasting_2018,wasting_2019,wasting_2020,wasting_2021
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,12.62,0.0,0.0,0.0,0.0,8.22,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.70,0.0,0.0,0.0,0.0,3.70,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,5.6,0.0,0.0,0.0,0.0,0.0,...,0.0,6.63,0.0,0.0,0.0,0.0,2.77,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,6.4,0.0,0.0,0.0,0.0,0.0,...,0.0,6.39,0.0,0.0,0.0,0.0,2.49,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
y = y.fillna(0)
y

,overweight_2000,overweight_2001,overweight_2002,overweight_2003,overweight_2004,overweight_2005,overweight_2006,overweight_2007,overweight_2008,overweight_2009,...,wasting_2012,wasting_2013,wasting_2014,wasting_2015,wasting_2016,wasting_2017,wasting_2018,wasting_2019,wasting_2020,wasting_2021
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,12.62,0.0,0.0,0.0,0.0,8.22,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.70,0.0,0.0,0.0,0.0,3.70,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,5.6,0.0,0.0,0.0,0.0,0.0,...,0.0,6.63,0.0,0.0,0.0,0.0,2.77,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,6.4,0.0,0.0,0.0,0.0,0.0,...,0.0,6.39,0.0,0.0,0.0,0.0,2.49,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
3238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
3239,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
3240,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
3241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(7318, 124)
(1830, 124)
(7318, 66)
(1830, 66)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
# train the model
regressor = LinearRegression()
regressor.fit(X_train, y_train)

# predict the test set results
y_pred = regressor.predict(X_test)

# evaluate the model
from sklearn.metrics import mean_squared_error, r2_score
regressor_mse = mean_squared_error(y_test, y_pred)
regressor_r2 = r2_score(y_test, y_pred)
print("Mean squared error:", regressor_mse)
print("R-squared:", regressor_r2)

Mean squared error: 14.467726149476086
R-squared: 0.005835207573170678

In [ ]:
from sklearn.tree import DecisionTreeRegressor
import numpy as np

# Create the decision tree regressor
tree_reg = DecisionTreeRegressor(max_depth=2)

# Train the model
tree_reg.fit(X_train, y_train)

# Predict on new data
#X_test = np.arange(0.0, 5.0, 0.01)[:, np.newaxis]
#y_pred = tree_reg.predict(X_test)

y_pred = tree_reg.predict(X_test)
# evaluate the model
from sklearn.metrics import mean_squared_error, r2_score
tree_reg_mse = mean_squared_error(y_test, y_pred)
tree_reg_r2 = r2_score(y_test, y_pred)
print("Mean squared error:", tree_reg_mse)
print("R-squared:", tree_reg_r2)

Mean squared error: 14.533422493511958
R-squared: 0.0025273591327529214

In [ ]:
from sklearn.linear_model import Lasso

# Create the Lasso regression model
lasso = Lasso(alpha=0.1)

# Fit the model to the training data
lasso.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = lasso.predict(X_test)

# Evaluate the model
score = lasso.score(X_test, y_test)
print(f"The model's R^2 score is: {score:.2f}")
mse = mean_squared_error(y_test, y_pred)
print("Mean squared error:", mse)

The model's R^2 score is: 0.00
Mean squared error: 14.47909136936741

In [ ]:
from sklearn.linear_model import Ridge

# Create the Ridge regression model
ridge = Ridge(alpha=0.1)

# Fit the model to the training data
ridge.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = ridge.predict(X_test)

# Evaluate the model
r_score = ridge.score(X_test, y_test)
print(f"The model's R^2 score is: {r_score:.2f}")
r_mse = mean_squared_error(y_test, y_pred)
print("Mean squared error:", r_mse)

The model's R^2 score is: 0.01
Mean squared error: 14.46772604916935

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

# Transform the features into polynomial features
poly = PolynomialFeatures(degree=2)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

# Create the polynomial regression model
poly_reg = LinearRegression()

# Fit the model to the training data
poly_reg.fit(X_train_poly, y_train)

# Make predictions on the testing data
y_pred = poly_reg.predict(X_test_poly)

# Evaluate the model
poly_reg_r2 = poly_reg.score(X_test_poly, y_test)
print(f"The model's R^2 score is: {poly_reg_r2:.2f}")
poly_reg_mse = mean_squared_error(y_test, y_pred)
print("Mean squared error:", poly_reg_mse)

The model's R^2 score is: -1792690688056920916361216.00
Mean squared error: 2.853136802364168e+25

In [ ]:
from sklearn.ensemble import RandomForestRegressor
# Create the Random Forest regression model
rf = RandomForestRegressor(n_estimators=100, random_state=0)

# Fit the model to the training data
rf.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = rf.predict(X_test)

# Evaluate the model
rf_r2 = rf.score(X_test, y_test)
print(f"The model's R^2 score is: {rf_r2:.2f}")
rf_mse = mean_squared_error(y_test, y_pred)
print("Mean squared error:", rf_mse)

The model's R^2 score is: 0.01
Mean squared error: 14.408694044594402

#### Note that lower values of MSE indicate better performance, while higher values of R² indicate better performance.Therefore, depending on your goals and priorities, you may want to sort the table by either MSE or R².

we got lower value of mse in polynomial regression so we'll apply some hypertuning parameters in order to improve this.

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline

In [ ]:
# Define the hyperparameters to tune
param_grid = {
    'polynomialfeatures__degree': [1, 2, 3, 4],
    'linearregression__fit_intercept': [True, False]
}

# Create the polynomial regression model
poly_reg = PolynomialFeatures(include_bias=False)
lin_reg = LinearRegression()

# Create a pipeline with PolynomialFeatures and LinearRegression
pipeline = Pipeline([
    ('polynomialfeatures', poly_reg),
    ('linearregression', lin_reg)
])

# Perform a grid search over the hyperparameters
grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train_poly, y_train)

# Print the best hyperparameters and the corresponding MSE
print("Best hyperparameters: ", grid_search.best_params_)
print("Best mean squared error: ", -grid_search.best_score_)

# Evaluate the final model on the test set
y_pred = grid_search.predict(X_test_poly)
print("Test mean squared error: ", mean_squared_error(y_test, y_pred))